# HUE.ai Code Ownership
# This document outlines the code ownership for the HUE.ai project.
# The project is an application designed to style webpages using AI.

# Team and Roles
# - Concept: Renjeesh
# - Project Architecture: Jerin
# - Front end (React): Archana, Devika, Ijas, Karthika, Noufa, Shino, Vivek
# - Front end (CSS): Afsal, Sahad
# - Back end (Express): Alfin, Ananda, Gopika

# Global Owners
* @jerinmt @renjeesh-rs

# Code Ownership Rules
/server/stylehub/controllers/ @Alfin77 @anandapavanan @Gopi121202 @renjeesh-rs
/server/stylehub/routes/ @jerinmt
/server/stylehub/utils/ @Alfin77 @anandapavanan @Gopi121202 @renjeesh-rs

/client/stylehub/src/components/ @Ijas @Karthika @afsalazeez29 @sahadnishy-css
/client/stylehub/src/pages/ @archanarx @Devika @Karthika @noufasaji-maker @Shino @Vivek
/client/stylehub/src/styles/ @afsalazeez29
/client/stylehub/src/utils/router/ @jerinmt
/client/stylehub/src/assets/ @noufasaji-maker @sahadnishy-css
